<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>                                     
<!--[if !(IE 7)]><!--><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/><!--<![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link type="text/css" rel="stylesheet" href="/form_style.css">
<link type="text/css" rel="stylesheet" href="qis_style.css">
<script type="text/JavaScript" src="/state.js"></script>
<script type="text/JavaScript" src="/alttxt.js"></script>
<script type="text/JavaScript" src="/general.js"></script>
<script type="text/JavaScript" src="/form.js"></script>
<script type="text/JavaScript" src="/help.js"></script>
<script type="text/javascript" src="/qis/QIS_general.js"></script>
<script type="text/JavaScript">
var client_mac = parent.login_mac_str();
var org_wan_proto = '<% nvram_get("wan_proto"); %>';

function QKInternet_load_body(){
	parent.set_step("t1");

	change_setting_img("1", "internet");
	get_value_from_parent();
	if (document.form.wan_proto.value == "pptp"
			|| document.form.wan_proto.value == "l2tp") {
		blocking("showip", true);
		blocking("dns_sec", true);
		blocking("showserver", true);
		blocking("heartbeat_server", true);
		inputCtrl(document.form.wan_heartbeat_x, 1);
		blocking("showhwaddr", false);
		document.form.prev_page.value = "QIS_internet_account.htm";
	} else if (document.form.wan_proto.value == "static") {
		$("dhcp_info_radio").style.display = "none";
		blocking("showip", true);
		$("dns_info_title").innerHTML = "<#PPPConnection_x_WANDNSServer_itemname#>";
		$("dns_info_radio").style.display = "none";
		blocking("dns_sec", true);
		blocking("showserver", false);
		blocking("showhwaddr", true);
		document.form.prev_page.value = "QIS_internet_type.htm";
		document.form.wan_dnsenable_x[0].checked = 0;
		document.form.wan_dnsenable_x[1].checked = 1;
	} else {//dhcp
		blocking("showip", false);
		blocking("dns_sec", true);
		blocking("showserver", false);
		blocking("showhwaddr", false);
		document.form.prev_page.value = "QIS_internet_isp.htm";
	}
	set_default_state();
}

function get_value_from_parent(){
	document.form.wan_proto.value = parent.document.QKform.wan_proto.value;
	document.form.wan_hwaddr.value = parent.document.QKform.wan_hwaddr.value;
	document.form.wan_ipaddr.value = parent.document.QKform.wan_ipaddr.value;
	document.form.wan_netmask.value = parent.document.QKform.wan_netmask.value;
	document.form.wan_gateway.value = parent.document.QKform.wan_gateway.value;
	document.form.wan_dns1_x.value = parent.document.QKform.wan_dns1_x.value;
	document.form.wan_dns2_x.value = parent.document.QKform.wan_dns2_x.value;
	document.form.wan_heartbeat_x.value = parent.document.QKform.wan_heartbeat_x.value;
}

function set_default_state(){
	var wan_proto = document.form.wan_proto.value;

	if (wan_proto == org_wan_proto) {
		show_dhcpenable('<% nvram_get("wan_dhcpenable_x"); %>');
		show_dnsenable('<% nvram_get("wan_dnsenable_x"); %>');
	} else if (wan_proto == "static") {
		document.form.wan_dhcpenable_x[0].checked = 1;
		document.form.wan_dhcpenable_x[1].checked = 0;
		show_dhcpenable(0);
	} else {
		document.form.wan_dhcpenable_x[0].checked = 0;
		document.form.wan_dhcpenable_x[1].checked = 1;
		show_dhcpenable(1);
		document.form.wan_dnsenable_x[0].checked = 1;
		document.form.wan_dnsenable_x[1].checked = 0;
		show_dnsenable(1);
	}
}

function show_dhcpenable(flag){
	if (flag == "1" || flag == true) {
		inputCtrl(document.form.wan_ipaddr, 0);
		inputCtrl(document.form.wan_netmask, 0);
		inputCtrl(document.form.wan_gateway, 0);

		inputCtrl(document.form.wan_dnsenable_x[0], 1);
		inputCtrl(document.form.wan_dnsenable_x[1], 1);
		document.form.wan_dhcpenable_x[1].focus();
		parent.document.QKform.wan_dhcpenable_x.value = "1";
	} else {
		inputCtrl(document.form.wan_ipaddr, 1);
		inputCtrl(document.form.wan_netmask, 1);
		inputCtrl(document.form.wan_gateway, 1);

		document.form.wan_dnsenable_x[0].checked = 0;
		document.form.wan_dnsenable_x[1].checked = 1;
		inputCtrl(document.form.wan_dnsenable_x[0], 0);
		inputCtrl(document.form.wan_dnsenable_x[1], 0);
		document.form.wan_dhcpenable_x[0].focus();
		parent.document.QKform.wan_dhcpenable_x.value = "0";
		show_dnsenable(0);
	}
}

function show_dnsenable(flag){
	if (flag == "1" || flag == true) {
		document.form.wan_dnsenable_x[0].focus();
		inputCtrl(document.form.wan_dns1_x, 0);
		inputCtrl(document.form.wan_dns2_x, 0);
		parent.document.QKform.wan_dnsenable_x.value = "1";
	} else {
		document.form.wan_dnsenable_x[1].focus();
		inputCtrl(document.form.wan_dns1_x, 1);
		inputCtrl(document.form.wan_dns2_x, 1);
		parent.document.QKform.wan_dnsenable_x.value = "0";
	}
}

// test if WAN IP & Gateway & DNS IP is a valid IP
// DNS IP allows to input nothing
function valid_IP(obj_name, obj_flag){
	// A : 1.0.0.0~126.255.255.255
	// B : 127.0.0.0~127.255.255.255 (forbidden)
	// C : 128.0.0.0~255.255.255.254
	var A_class_start = inet_network("1.0.0.0");
	var A_class_end = inet_network("126.255.255.255");
	var B_class_start = inet_network("127.0.0.0");
	var B_class_end = inet_network("127.255.255.255");
	var C_class_start = inet_network("128.0.0.0");
	var C_class_end = inet_network("255.255.255.255");
	var ip_obj = obj_name;
	var ip_num = inet_network(ip_obj.value);

	if (obj_flag == "DNS" && ip_num == -1) { //DNS allows to input nothing
		return true;
	}

	if (obj_flag == "GW" && ip_num == -1) { //GW allows to input nothing
		return true;
	}

	if (ip_num > A_class_start && ip_num < A_class_end)
		return true;
	else if (ip_num > B_class_start && ip_num < B_class_end) {
		alert(ip_obj.value+" <#JS_validip#>");
		ip_obj.focus();
		ip_obj.select();
		return false;
	} else if (ip_num > C_class_start && ip_num < C_class_end)
		return true;
	else {
		alert(ip_obj.value+" <#JS_validip#>");
		ip_obj.focus();
		ip_obj.select();
		return false;
	}
}

function validate_ip(){
	if (document.form.wan_dhcpenable_x != null && document.form.wan_dhcpenable_x[0].checked) {
		if (!valid_IP(document.form.wan_ipaddr, "")) return false;  //WAN IP
		if (!valid_IP(document.form.wan_gateway, "GW")) return false;  //Gateway IP

		if (document.form.wan_gateway.value == document.form.wan_ipaddr.value) {
			alert("<#IPConnection_warning_WANIPEQUALGatewayIP#>");
			document.form.wan_ipaddr.focus();
			document.form.wan_ipaddr.select();
			return false;
		}
		var default_netmask = "";
		var wrong_netmask = 0;
		var netmask_obj = document.form.wan_netmask;
		var netmask_num = inet_network(netmask_obj.value);

		if(netmask_num==0){
			var netmask_reverse_num = 0;//Viz 2011.07 : Let netmask 0.0.0.0 pass
		} else {
			var netmask_reverse_num = ~netmask_num;
		}

		if (netmask_num < 0) wrong_netmask = 1;

		var test_num = netmask_reverse_num;
		while (test_num != 0) {
			if ((test_num+1)%2 == 0)
				test_num = (test_num+1)/2-1;
			else {
				wrong_netmask = 1;
				break;
			}
		}
		if (wrong_netmask == 1) {
			alert(netmask_obj.value+" <#JS_validip#>");
			netmask_obj.value = default_netmask;
			netmask_obj.focus();
			netmask_obj.select();
			return false;
		}// end netmask check
	}

	return true;
}

function validate_dns(){
	if (document.form.wan_dnsenable_x != null && !document.form.wan_dnsenable_x[0].checked) {
		if (document.form.wan_dns1_x.value.length <= 0 && document.form.wan_dns2_x.value.length <= 0) {
			document.form.wan_dns1_x.focus();
			document.form.wan_dns1_x.select();
			alert("<#JS_fieldblank#>");
			return false;
		} else {
			if (document.form.wan_dns1_x.value.length > 0 
					&& !validate_ipaddr_final(document.form.wan_dns1_x, "wan_dns1_x")) {
				return false;
			} else if (document.form.wan_dns2_x.value.length > 0 
					&& !validate_ipaddr_final(document.form.wan_dns2_x, "wan_dns2_x")) {
				return false;
			}
		}
	}
	return true;
}

function showMAC(){
	document.form.wan_hwaddr.value = this.client_mac;
	document.form.wan_hwaddr.focus();
}

function validForm(){
	if (!validate_ip()) return false;
	if (!validate_dns()) return false;
	if (!check_macaddr(document.form.wan_hwaddr,check_hwaddr_flag(document.form.wan_hwaddr))) {
		document.form.wan_hwaddr.select();
		document.form.wan_hwaddr.focus();
		return false;
	}

	if(document.form.wan_proto.value == "pptp" || document.form.wan_proto.value == "l2tp") {
		if (document.form.wan_heartbeat_x.value.length <= 0) {
			alert("<#QIS_internet_ip_alert1#>");
			document.form.wan_heartbeat_x.focus();
			document.form.wan_heartbeat_x.select();
			return false;
		}

		if (!validate_string(document.form.wan_heartbeat_x))
			return false;
	}

	return true;
}

function gotoPrev(){
	location.href = document.form.prev_page.value;
}

function gotoNext(){
	if (validForm()) {
		parent.document.QKform.wan_hwaddr.value = document.form.wan_hwaddr.value;
		parent.document.QKform.wan_ipaddr.value = document.form.wan_ipaddr.value;
		parent.document.QKform.wan_netmask.value = document.form.wan_netmask.value;
		parent.document.QKform.wan_gateway.value = document.form.wan_gateway.value;
		parent.document.QKform.wan_dns1_x.value = document.form.wan_dns1_x.value;
		parent.document.QKform.wan_dns2_x.value = document.form.wan_dns2_x.value;
		parent.document.QKform.wan_heartbeat_x.value = document.form.wan_heartbeat_x.value;

		location.href = document.form.next_page.value;
		return true;
	}
	return false;
}

function check_macaddr(obj,flag){ //control hint of input mac address
	if (flag == 1) {
		var childsel = document.createElement("div");
		childsel.setAttribute("id","check_mac");
		childsel.style.color = "#FFCC00";
		obj.parentNode.appendChild(childsel);
		$("check_mac").innerHTML = "<#LANHostConfig_ManualDHCPMacaddr_itemdesc#>";
		$("check_mac").style.display = "";
		return false;
	} else if (flag == 2) {
		var childsel = document.createElement("div");
		childsel.setAttribute("id","check_mac");
		childsel.style.color = "#FFCC00";
		obj.parentNode.appendChild(childsel);
		$("check_mac").innerHTML = "<#IPConnection_x_illegal_mac#>";
		$("check_mac").style.display = "";
		return false;
	} else {
		$("check_mac") ? $("check_mac").style.display = "none" : true;
		return true;
	}
}

function clean_input(obj){
	if (obj.value == "0.0.0.0") {
		obj.focus();
		obj.select();
	}
}
</script>
</head>

<body onLoad="QKInternet_load_body();" onunload="" onKeyPress="submitenter(this,event)">
<form method="post" name="form">
<input type="hidden" name="prev_page" value="">
<input type="hidden" name="current_page" value="QIS_internet_ip.htm">
<input type="hidden" name="next_page" value="QIS_wireless.htm">

<input type="hidden" name="wan_proto" value="">
<div class="QISmain">
  <div class="QISformfonttitle"><#QIS_internet_ip_title#>
	<img id="smaill_flow_1" src="/images/small_flow/flow01-2.png" class="small_img_1">
	<img id="smaill_flow_2" src="/images/small_flow/setting.gif" class="small_img_2">
	<img id="smaill_flow_3" src="/images/small_flow/flow02.png" class="small_img_3">
	<img id="smaill_flow_4" src="/images/small_flow/setting.gif" class="small_img_4">
	<img id="smaill_flow_5" src="/images/small_flow/flow03-2.png" class="small_img_5">
	<img onclick="parent.gotoIndex();" align="right" style="cursor:pointer;margin:-10px -20px 10px 5px; *margin-top:-25px;" title="<#CTL_Setting#>" src="/images/backtohome.png" onMouseOver="this.src='/images/backtohomeclick.png'" onMouseOut="this.src='/images/backtohome.png'">
  </div>
  <div style="margin-left:5px;margin-top:10px;margin-bottom:10px"><img style="width: 700px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>

  <div id="showip" style="display:none">
	<fieldset>
	  <legend>
		<#QIS_internet_ip_ip_title#>
		<span id="dhcp_info_radio">
		  <input type="radio" name="wan_dhcpenable_x" class="input" value="0" onclick="show_dhcpenable(this.value);" <% nvram_match("wan_dhcpenable_x", "0", "checked"); %>><#checkbox_Yes#>
		  <input type="radio" name="wan_dhcpenable_x" class="input" value="1" onclick="show_dhcpenable(this.value);" <% nvram_match("wan_dhcpenable_x", "1", "checked"); %>><#checkbox_No#>
		</span>
	  </legend>
	  <table id="tblsetting_2" class="QISform" width="400" border="0" align="center" cellpadding="3" cellspacing="0">
		<tr>
		  <th width="190">
			<span onmouseout="return nd();" onclick="overlib('<#IPConnection_ExternalIPAddress_itemdesc#>');" style="cursor:help;"><#IPConnection_ExternalIPAddress_itemname#><img align="right" style="cursor:pointer;margin-top:-14px\9;" style="margin-top:-14px\9;" src="/images/New_ui/helpicon.png"></span>
		  </th>
		  <td class="QISformtd">
			<input type="text" name="wan_ipaddr" value="" onClick="clean_input(this)" onkeypress="return is_ipaddr(this, event);" size="36" maxlength="15" class="input_20_table" />
		  </td>
		</tr>
		<tr>
		  <th width="190">
			<span onmouseout="return nd();" onclick="overlib('<#IPConnection_x_ExternalSubnetMask_itemdesc#>');" style="cursor:help;"><#IPConnection_x_ExternalSubnetMask_itemname#><img align="right" style="cursor:pointer;margin-top:-14px\9;" src="/images/New_ui/helpicon.png"></span>
		  </th>
		  <td class="QISformtd">
			<input type="text" name="wan_netmask" value="" onClick="clean_input(this)" onkeypress="return is_ipaddr(this, event);" size="36" maxlength="15" class="input_20_table" />
		  </td>
		</tr>
		<tr>
		  <th>
			<span onmouseout="return nd();" onclick="overlib('<#IPConnection_x_ExternalGateway_itemdesc#>');" style="cursor:help;"><#IPConnection_x_ExternalGateway_itemname#><img align="right" style="cursor:pointer;margin-top:-14px\9;" src="/images/New_ui/helpicon.png"></span>
		  </th>
		  <td class="QISformtd">
			<input type="text" name="wan_gateway" value="" onClick="clean_input(this)" onkeypress="return is_ipaddr(this, event);" size="36" maxlength="15" class="input_20_table" />
		  </td>
		</tr>
	  </table>
	</fieldset>
  </div>

  <div id="dns_sec" style="display:none">
	<fieldset>
	  <legend>
		<span id="dns_info_title"><#IPConnection_x_DNSServerEnable_itemname#></span>
		<span id="dns_info_radio">
		  <input type="radio" name="wan_dnsenable_x" value="1" onclick="show_dnsenable(this.value);" class="input" <% nvram_match("wan_dnsenable_x", "1", "checked"); %>><#checkbox_Yes#>
		  <input type="radio" name="wan_dnsenable_x" value="0" onclick="show_dnsenable(this.value);" class="input" <% nvram_match("wan_dnsenable_x", "0", "checked"); %>><#checkbox_No#>
		</span>
	  </legend>
	  <table id="tblsetting_4" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
		<tr>
		  <th width="190">
			<span onmouseout="return nd();" onclick="overlib('<#IPConnection_x_DNSServer1_itemdesc#>');" style="cursor:help;"><#IPConnection_x_DNSServer1_itemname#><img align="right" style="cursor:pointer;margin-top:-14px\9;" src="/images/New_ui/helpicon.png"></span>
		  </th>
		  <td class="QISformtd">
			<input type="text" name="wan_dns1_x" value="" onkeypress="return is_ipaddr(this, event);" size="36" maxlength="15" class="input_20_table" />
		  </td>
		</tr>
		<tr>
		  <th width="190">
			<span onmouseout="return nd();" onclick="overlib('<#IPConnection_x_DNSServer2_itemdesc#>');" style="cursor:help;"><#IPConnection_x_DNSServer2_itemname#><img align="right" style="cursor:pointer;margin-top:-14px\9;" src="/images/New_ui/helpicon.png"></span>
		  </th>
		  <td class="QISformtd">
			<input type="text" name="wan_dns2_x" value="" onkeypress="return is_ipaddr(this, event);" size="36" maxlength="15" class="input_20_table" />
		  </td>
		</tr>
	  </table>
	</fieldset>
  </div>

  <div id="showserver" style="width:730px; display:none">
	<fieldset id="ifVPNfield">
	  <table id="heartbeat_server" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0" style="display:none;">
		<tr>
		  <th width="190">
			<span onmouseout="return nd();" onclick="overlib('<#PPPConnection_x_VPN_desc#>');" style="cursor:help;"><#PPPConnection_x_VPN_item#><img align="right" style="cursor:pointer;margin-top:-14px\9;" src="/images/New_ui/helpicon.png"></span>
		  </th>
		  <td class="QISformtd">
			<input type="text" name="wan_heartbeat_x" value="" size="36" maxlength="64" class="input_32_table" />
		  </td>
		</tr>
	  </table>
	</fieldset>
  </div>

  <div id="showhwaddr" style="width:730px; display:none;">
	<fieldset id="ifVPNfield">
	  <table id="heartbeat_server" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
		<tr>
		  <th width="190">
			<div onmouseout="return nd();" onclick="overlib('<#PPPConnection_x_MacAddressForISP_itemdesc#>', FIXX, 285, FIXY,50);" style="white-space:normal;cursor:help;"><#QIS_internet_isp_item2#><img align="right" style="cursor:pointer;margin-top:-14px \9;" src="/images/New_ui/helpicon.png"></div>
		  </th>
		  <td class="QISformtd">
			<input type="text" name="wan_hwaddr" onkeypress="return is_hwaddr(this,event);" style="height:25px;" class="input_20_table" size="36" maxlength="17" value="">
			<input type="button" class="button_gen_long" onclick="showMAC();" value="<#QIS_internet_isp_item3#>">
		  </td>
		</tr>
	  </table>
	</fieldset>
  </div>

  <div class="apply_gen" style="margin-top:30px">
	<input type="button" value="<#CTL_prev#>" class="button_gen" onclick="gotoPrev();">
	<input type="button" value="<#CTL_next#>" class="button_gen" onclick="gotoNext();">
  </div>
</div>

</form>
</body>
</html>
