<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>                                     
<!--[if !(IE 7)]><!--><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/><!--<![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="shortcut icon" href="images/favicon.png">
<link rel="icon" href="images/favicon.png">
<title></title>
<link rel="stylesheet" type="text/css" href="/form_style.css">
<link rel="stylesheet" type="text/css" href="/qis/qis_style.css">
<link rel="stylesheet" type="text/css" href="/pwdmeter.css">
<script type="text/javascript" src="/state.js"></script>
<script type="text/javascript" src="/help.js"></script>
<script type="text/javascript" src="/detect.js"></script>
<script type="text/javascript" src="/qis/QIS_general.js"></script>
<script type="text/javascript">

function QKinternettype_load_body(){
	parent.set_step("t0");
	document.form.http_passwd.focus();
	chkPasswrodStrength('<% nvram_get("http_passwd"); %>', 'http_passwd');
}

function gotoNext(){
	var alert_str = "";

	showtext($("alert_msg1"), "");
	showtext($("alert_msg2"), "");

	alert_str = validate_LoginUsername(document.form.http_username);
	showtext($("alert_msg1"), alert_str);
	if (alert_str != "") {
		document.form.http_username.focus();
		document.form.http_username.select();
		return false;
	}

	alert_str = validate_LoginPasswd(document.form.http_passwd, document.form.v_password2);
	showtext($("alert_msg2"), alert_str);
	if (alert_str != "") {
		document.form.http_passwd.focus();
		document.form.http_passwd.select();
		return false;
	}
	var is_common_string = check_common_string(document.form.http_passwd.value, "httpd_password");
	if (is_common_string) {
		if (!confirm("<#JS_common_passwd#>")) {
			document.form.http_passwd.focus();
			document.form.http_passwd.select();
			return false;
		}
	}

	parent.document.QKform.http_username.value = document.form.http_username.value;
	parent.document.QKform.http_passwd.value = document.form.http_passwd.value;

	if (qis_opmode_support != -1)
		document.form.action = "/qis/QIS_opmode.htm";
	else
		document.form.action = "/qis/QIS_survey.htm";
	document.form.submit();
}

</script>
</head>
<body onLoad="QKinternettype_load_body();" onunload="" onKeyPress="submitenter(this,event)">
<form method="post" name="form" action="">
<input type="hidden" name="current_page" value="QIS_admin_pass.htm">
<input type="hidden" name="flag" value="welcome">
<div class="QISmain">

<div class="QISformfonttitle"><#QIS_pass_title#>
	<img onclick="parent.gotoIndex();" align="right" style="cursor:pointer;margin:-10px -20px 10px 5px; *margin-top:-25px;" title="<#CTL_Setting#>" src="/images/backtohome.png" onMouseOver="this.src='/images/backtohomeclick.png'" onMouseOut="this.src='/images/backtohome.png'">
</div>

<div style="margin-left:5px;margin-top:10px;margin-bottom:10px"><img style="width: 700px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>

<div style="margin-top:15px;width:700px;">
	<p class="QISGeneralFont"><#QIS_pass_desc1#></p>
 	<table id="tblsetting_1" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
                <tr>
                  <th width="200"><a class="hintstyle" tabindex="-1" href="javascript:void(0);" onClick="openHint(11,5)"><#QIS_pass_LoginName#></a></th>
                  <td class="QISformtd">
			<input type="text" name="http_username" style="height:25px;" class="input_15_table" maxlength="20" value="<% nvram_get("http_username"); %>">
			<span id="alert_msg1" style="color:#FC0;margin-left:8px;"></span>
                  </td>
                </tr>
                <tr>
                  <th width="200"><a class="hintstyle" tabindex="-1" href="javascript:void(0);" onClick="openHint(11,4);"><#System_PASS_new#></a></th>
                  <td class="QISformtd">
			<input type="password" autocapitalization="off" value="" name="http_passwd" style="height:25px;" class="input_15_table" maxlength="16" onkeyup="chkPasswrodStrength(this.value, 'http_passwd');" onBlur="switchType(this, false);" onFocus="switchType(this, true);"/>
			<div id="scorebarBorder" style="margin-left:140px; margin-top:-26px; display:none;" title="<#LANHostConfig_x_Password_itemSecur#>">
			  <div id="score" style="margin-top:3px;"></div>
			  <div id="scorebar">&nbsp;</div>
			</div>
                  </td>
                </tr>
                <tr>
                  <th width="200"><a class="hintstyle" tabindex="-1" href="javascript:void(0);" onClick="openHint(11,4);"><#System_PASS_retype#></a></th>
                  <td class="QISformtd">
                                <input type="password" value="" name="v_password2" style="height:25px;" class="input_15_table" maxlength="16" onBlur="switchType(this, false);" onFocus="switchType(this, true);"/>
				<span id="alert_msg2" style="color:#FC0;margin-left:8px;"></span>
                  </td>
                </tr>
        </table>
        <br>
        <div style="height:200px;line-height:20px;margin-left:30px;width:280px;"><#QIS_pass_desc2#></div>
        <div style="margin-left:320px;margin-top:-200px;"><img width="300px" src="/images/qis/router_login.jpg"></span></div>
</div>

<div class="apply_gen" style="margin-top:50px">
	<input class="button_gen" type="button" value="<#CTL_next#>" onclick="gotoNext();">
</div>
</div>
</form>
</body> 
